/* ---------- GENERAL ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

/* ----------BODY */
body {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
}
/* -----container */
#container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}
/* ----- header */
header {
    grid-area: header;
}
header>h1 {
    text-align: center;
    margin: 20px auto;
    color: white;
}
/* ----- main */
main {
    grid-area: main;
}
main>input {
    width: 200px;
    margin: 20px auto;
    /* border-radius: 20px; */
}
main ul li {
    color: white;
}
.done {
    text-decoration: line-through;
}
/* ----- footer */
footer {
    grid-area: footer;
}
footer>p {
    text-align: center;
    margin: 20px auto;
    color: white;
}